
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bloc-tabs {
    display: flex;
    justify-content: space-around;
    
}

.tabs {
    padding: 1em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 1em;
    width: 30em;
    border-radius: 2em;
}

.j {
    background-color: rgb(32, 95, 255);
    color:white ;
}

.g {
    background-color: rgb(73, 73, 73);
    color:white ;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

h1 {
    color: black;
    align-items: center;
    text-align: center;
}

.tab-content {
    width: 95%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 1.2em ;
    border-radius: 1em;
    color: black;
}

.github-content {
    color: black;
    width: 100%;
}

a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}


.login-button {
    width: 100%;
    height: 100%;
    margin: 1em ;
    border-radius: 1em;
    color: white;
    justify-content: center;
    display: flex;
}

.github-lg {
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(75, 150, 81);
}

.jira-lg {
    padding: 1em;
    border-radius: 1em;
    background-color:rgb(32, 95, 255);
}