.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.g-entities {
    display: flex;
    justify-content: space-around;
}

.g-entity {
    padding: 1em;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.144);
    margin: 1em;
    width: 30em;
    border-radius: 2em;
}

.repo, .starred, .commits {
    background-color: rgb(116, 116, 116);
    color:white ;
}

.entity-content {
    margin-left: 1.5em;
}


.content {
    width: 80%;
    height: max-content;
    background-color:rgb(187, 187, 187);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}



.loading {
padding: 2em;
}

.c-repo-name {
    margin: 2em;
}


input {
    padding: 0.5em;
    border-radius: 1em;
}

.commit-buttton{
    width: 25%;
    background-color: rgb(116, 116, 116) ;
    margin: 1em;
    padding: 0.6em;
    border-radius: 1em;
    color: white;
}