body {
  width: 600px;
  max-height: 500px;
  height: max-content;
  background-color: rgb(5, 5, 5);
  color: black;
}

li {
  list-style: none;
}


.login-button {
  width: 60%;
  height: 100%;
  margin: 3em ;
  border-radius: 1em;
  color: white;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.github-lg {
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(75, 150, 81);
}

.jira-lg {
  padding: 1em;
  border-radius: 1em;
  background-color:rgb(32, 95, 255);
}