.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bloc-tabs {
    display: flex;
    justify-content: space-around;
    
}


.j-entity {
    padding: 1em;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.144);
    margin: 1em;
    width: 30em;
    border-radius: 2em;
}

.issue, .projects {
    background-color: rgb(32, 95, 255);
    color:white ;
}


.db, .api {
    background-color: rgb(32, 95, 255);
}




.content {
    width: 80%;
    height: max-content;
    background-color:rgb(187, 187, 187);
    margin: 0.8em;
    padding: 1em;
    border-radius: 1em;
}